---
import Container from "./ui/container/Container.astro";
import Button from "./ui/button/Button.astro";
import Carousel from "./ui/carousel/Carousel.astro";
import ServiceCard from "./ui/card/ServiceCard.astro";
import ValuesCard from "./ui/card/ValuesCard.astro";
import PhotoCard from "./ui/card/PhotoCard.astro";
import Flex from "./ui/flex/Flex.astro";
import Heading from "./ui/text/Heading.astro";
import Text from "./ui/text/Text.astro";
import Card from "./ui/card/Card.astro";
import ProfileCard from "./ui/card/ProfileCard.astro";

import MainHeader from "./MainHeader.astro";
import MainFooter from "./MainFooter.astro";
import styles from "./Home.module.css";

import work from "../data/work.json";
import blog from "../data/blog.json";

import BrandingCard from "./ui/card/BrandingCard.astro";
---

<MainHeader />
<main>
  <section id="hero">
    <Container class={styles.hero}>
      <div>
        <div class={styles.heroWrapper}>
          <Heading element="h1" size="h1" style="line-height: 1.1;">
            Building Brands, One Success Story at a Time.
          </Heading>
          <Text size="xl" balanced="true" style="width: 40ch">
            Create a Brand That Resonates: We Can Help You Define and
            Communicate Your Unique Message.
          </Text>
          <Button variant="primary" style="margin-top:2rem">
            Our Services
          </Button>
        </div>
      </div>
    </Container>
  </section>
  <section id="logos">
    <Container>
      <Carousel />
    </Container>
  </section>
  <section id="services">
    <Container class="spacing-top">
      <div class="grid-4-desktop grid-2-tablet">
        <ServiceCard>
          <Fragment slot="title"> Brand Strategy </Fragment>
          <Fragment slot="description">
            <p>
              We help businesses define their unique brand message and branding
              positioning.
            </p>
          </Fragment>
          <Fragment slot="footer">
            <div>
              <a href="/services/#strategy">About Strategy</a>
            </div>
          </Fragment>
        </ServiceCard>
        <ServiceCard>
          <Fragment slot="title"> Visual Identity </Fragment>
          <Fragment slot="description">
            <p>
              We create visual elements such as logos, packaging, and marketing
              materials for your brand.
            </p>
          </Fragment>
          <Fragment slot="footer">
            <div>
              <a href="/services/#identity">About Identity</a>
            </div>
          </Fragment>
        </ServiceCard>
        <ServiceCard class="card-services">
          <Fragment slot="title">Digital Marketing</Fragment>
          <Fragment slot="description">
            <p>
              We help businesses to promote their brand online and create
              engaging digital experiences.
            </p>
          </Fragment>
          <Fragment slot="footer">
            <a href="/services#marketing">About Marketing</a>
          </Fragment>
        </ServiceCard>
        <ServiceCard>
          <Fragment slot="title">Brand Management</Fragment>
          <Fragment slot="description">
            <p>
              We help businesses to implement their brand across all touchpoints
              and ensure consistency.
            </p>
          </Fragment>
          <Fragment slot="footer">
            <a href="/services#management">About Management</a>
          </Fragment>
        </ServiceCard>
      </div>
    </Container>
  </section>
  <section id="work">
    <Container class="spacing-top">
      <h2 class="spacing-intro-title">Our Work</h2>
      <hr class="spacing-divider" />
      <Flex justify="between">
        <Heading element="h3" size="h2" style="margin-bottom: 4rem">
          Selected Work
        </Heading>
        <div>
          <Button>All Work</Button>
        </div>
      </Flex>
      <div class="card-work grid-2-desktop grid-2-tablet">
        {
          work.map((w) => (
            <PhotoCard
              image={w["preview-image"]}
              title={w.title}
              badge={w.category}
            />
          ))
        }
      </div>
    </Container>
  </section>
  <section id="values">
    <Container class="spacing-top">
      <h2 class="spacing-intro-title">Our Values</h2>
      <hr class="spacing-divider" />
      <article class="grid-4-desktop grid-3-tablet grid-2-mobile">
        <ValuesCard variant="blue" style="min-height: 45vh;">
          <Fragment slot="title">Services</Fragment>
          <Fragment slot="description">
            <Heading element="h3" size="h3" style="max-width: 8ch;">
              Our Approach to Branding.
            </Heading>
          </Fragment>
          <Fragment slot="footer">
            <div>
              <Button variant="primary">About Oliv</Button>
            </div>
          </Fragment>
        </ValuesCard>
        <ValuesCard variant="green">
          <Fragment slot="title">Helping Brands</Fragment>
          <Fragment slot="footer">
            <div>
              <Text size="h4" class="no-margin">Bold Moves, Big Impact.</Text>
            </div>
          </Fragment>
        </ValuesCard>
        <ValuesCard variant="muted">
          <Fragment slot="title">How We Work</Fragment>
          <Fragment slot="footer">
            <div>
              <Text size="h4" class="no-margin">
                Honesty is the Best Policy.
              </Text>
            </div>
          </Fragment>
        </ValuesCard>
        <div class="card-values desktop-only"></div>
        <div class="card-values desktop-only"></div>
        <ValuesCard variant="muted" style="min-height: 45vh;">
          <Fragment slot="title">Collaboration</Fragment>
          <Fragment slot="footer">
            <div>
              <Text size="h4" class="no-margin">
                Building Strong Partnerships.
              </Text>
            </div>
          </Fragment>
        </ValuesCard>
        <ValuesCard variant="red">
          <Fragment slot="title">Our Approach</Fragment>
          <Fragment slot="footer">
            <div>
              <Text size="h4" class="no-margin">Achieving Real Results.</Text>
            </div>
          </Fragment>
        </ValuesCard>
        <ValuesCard variant="yellow">
          <Fragment slot="title">Our Philosophy</Fragment>
          <Fragment slot="footer">
            <div>
              <Text size="h4" class="no-margin">
                Building Trust,Not Pitching.
              </Text>
            </div>
          </Fragment>
        </ValuesCard>
      </article>
    </Container>
    <article class="article">
      <Container class="spacing-top">
        <div class="grid-3-2center-desktop grid-2-end-tablet">
          <div class="mobile-hidden"></div>
          <div>
            <Heading element="h3" size="h3">
              Crafting Exceptional Digital Experiences Across All Platforms: Our
              Goal at Øliv.
            </Heading>
            <div class="grid-2">
              <Text size="default">
                At Øliv, we specialize in creating exceptional digital
                experiences that captivate audiences and deliver meaningful
                results. Our goal is to design seamless, user-centered solutions
                across all platforms, blending creativity with cutting-edge
                technology. Whether it’s a stunning website, an engaging app, or
                a cohesive digital strategy, we ensure every touchpoint reflects
                your brand’s essence.
              </Text>
              <Text size="default">
                By understanding your audience and aligning with your business
                goals, we craft experiences that inspire connection, drive
                engagement, and foster growth. At Øliv, we don’t just build
                digital products—we create impactful journeys that leave lasting
                impressions. Let’s transform your vision into extraordinary
                digital realities.
              </Text>
            </div>
          </div>
          <div class="desktop-only"></div>
        </div>
      </Container>
    </article>
  </section>
</main>
<section id="team">
  <Container class="spacing-top">
    <Heading element="h2" size="meta" uppercase="true">Our Team</Heading>
    <hr class="spacing-divider" />
    <Flex justify="between">
      <Heading element="h3" size="h2" style="margin-bottom: 4rem">
        Our Team of Experts
      </Heading>
      <div>
        <Button>About us</Button>
      </div>
    </Flex>
    <div class="grid-4-desktop grid-2-tablet">
      <Card
        variant="green"
        class="card"
        style="padding: 2rem;min-height: 50vh;"
        class="desktop-only"
      >
        <Flex direction="column" align="start" style="height:100%">
          <Heading element="h4" size="meta" uppercase="true">
            Join the team
          </Heading>
          <Heading element="h5" size="h3">
            Want to shape the future of branding?
          </Heading>
          <Text style="margin: 0">
            Join us and create bold, innovative brands that inspire change.
          </Text>
          <Button style="margin-top: auto" variant="primary">Apply Now</Button>
        </Flex>
      </Card>
      <ProfileCard
        title="Annette Black"
        image="./images/annette.webp"
        badge="Branding"
      />
      <ProfileCard
        title="Devon Lane"
        image="./images/devon.webp"
        badge="Design"
      />
      <ProfileCard
        class="desktop-only"
        title="Chris Watson"
        image="./images/chris.webp"
        badge="Marketing"
      />
    </div>
    <div class="desktop-hidden">
      <Card variant="green" class="card" style="margin-top:8rem;padding: 2rem;">
        <Flex direction="column" align="start" style="height:100%">
          <Heading element="h4" size="meta" uppercase="true">
            Join the team
          </Heading>
          <Heading element="h5" size="h3">
            Want to shape the future of branding?
          </Heading>
          <Text style="margin: 0">
            Join us and create bold, innovative brands that inspire change.
          </Text>
          <Button style="margin-top: auto" variant="primary">Apply Now</Button>
        </Flex>
      </Card>
    </div>
  </Container>
</section>
<section id="testimonials">
  <Container class="spacing-top">
    <article class="grid-3-2end-desktop grid-2-end-tablet">
      <div class="desktop-only"></div>
      <div class="logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="140"
          height="48"
          fill="none"
          ><path
            d="M 19.568 11.643 C 18.929 12.286 18.609 13.18 18.696 14.083 L 18.681 14.068 C 18.771 15.13 18.388 16.178 17.634 16.932 C 16.88 17.686 15.832 18.069 14.77 17.98 L 14.785 17.995 C 13.499 17.875 12.275 18.575 11.726 19.744 C 11.177 20.913 11.42 22.302 12.334 23.215 C 13.248 24.128 14.636 24.37 15.805 23.82 C 16.974 23.27 17.673 22.046 17.552 20.76 L 17.568 20.775 C 17.478 19.712 17.861 18.664 18.615 17.91 C 19.369 17.156 20.417 16.773 21.48 16.863 L 21.464 16.848 C 22.879 16.977 24.196 16.115 24.644 14.767 C 25.093 13.419 24.555 11.94 23.345 11.195 C 22.136 10.45 20.573 10.636 19.571 11.643 Z"
            fill="rgb(21, 21, 21)"></path><path
            d="M 13.42 16.03 L 13.404 16.015 C 14.307 16.106 15.204 15.786 15.846 15.144 C 16.488 14.502 16.808 13.606 16.718 12.703 L 16.734 12.718 C 16.645 11.656 17.028 10.608 17.782 9.854 C 18.536 9.1 19.584 8.717 20.646 8.807 L 20.63 8.792 C 21.916 8.913 23.14 8.214 23.69 7.045 C 24.24 5.875 23.998 4.487 23.084 3.573 C 22.17 2.659 20.782 2.417 19.612 2.967 C 18.443 3.517 17.744 4.741 17.865 6.027 L 17.85 6.011 C 17.939 7.073 17.556 8.121 16.802 8.875 C 16.048 9.629 15 10.012 13.938 9.922 L 13.953 9.938 C 13.05 9.847 12.153 10.167 11.511 10.809 C 10.869 11.451 10.549 12.347 10.639 13.25 L 10.624 13.235 C 10.713 14.297 10.33 15.345 9.577 16.099 C 8.823 16.853 7.775 17.236 6.713 17.147 L 6.728 17.162 C 5.442 17.041 4.218 17.74 3.668 18.909 C 3.118 20.079 3.36 21.467 4.274 22.381 C 5.188 23.295 6.576 23.537 7.746 22.987 C 8.915 22.437 9.614 21.213 9.493 19.927 L 9.508 19.942 C 9.418 18.879 9.801 17.831 10.555 17.077 C 11.309 16.323 12.357 15.94 13.42 16.03 Z"
            fill="rgb(21, 21, 21)"></path><path
            d="M 7.835 14.357 C 8.474 13.714 8.794 12.819 8.706 11.917 L 8.722 11.932 C 8.632 10.869 9.016 9.821 9.77 9.067 C 10.524 8.313 11.572 7.93 12.635 8.02 L 12.619 8.005 C 13.905 8.125 15.128 7.427 15.678 6.258 C 16.227 5.089 15.984 3.701 15.071 2.788 C 14.158 1.875 12.77 1.632 11.601 2.181 C 10.432 2.731 9.734 3.954 9.854 5.24 L 9.839 5.225 C 9.929 6.287 9.546 7.335 8.792 8.089 C 8.038 8.843 6.99 9.226 5.928 9.137 L 5.943 9.152 C 4.529 9.024 3.212 9.887 2.764 11.234 C 2.316 12.582 2.854 14.061 4.063 14.805 C 5.273 15.55 6.835 15.365 7.837 14.358 L 7.835 14.358 Z M 33.65 6.046 L 36.124 6.046 L 36.124 18.09 L 33.65 18.09 Z M 37.526 13.966 C 37.519 12.196 38.58 10.595 40.213 9.913 C 41.847 9.23 43.731 9.6 44.985 10.85 C 46.239 12.099 46.617 13.982 45.941 15.618 C 45.264 17.254 43.668 18.321 41.898 18.321 C 40.737 18.334 39.62 17.88 38.798 17.061 C 37.976 16.242 37.517 15.127 37.526 13.966 Z M 43.796 13.966 C 43.768 12.924 42.906 12.1 41.864 12.118 C 40.822 12.137 39.989 12.992 39.999 14.034 C 40.008 15.076 40.856 15.916 41.898 15.916 C 42.415 15.93 42.914 15.727 43.274 15.357 C 43.635 14.987 43.824 14.482 43.796 13.966 Z M 56.135 9.84 L 56.135 17.674 C 56.135 20.446 53.973 21.618 51.779 21.618 C 50.204 21.736 48.695 20.964 47.869 19.618 L 49.981 18.397 C 50.33 19.101 51.079 19.515 51.861 19.436 C 52.356 19.505 52.855 19.346 53.218 19.002 C 53.581 18.659 53.768 18.169 53.726 17.671 L 53.726 16.917 C 53.138 17.636 52.244 18.034 51.316 17.989 C 49.064 17.904 47.282 16.053 47.282 13.799 C 47.282 11.545 49.064 9.694 51.316 9.609 C 52.244 9.564 53.138 9.962 53.726 10.681 L 53.726 9.839 L 56.135 9.841 Z M 53.727 13.8 C 53.761 12.984 53.295 12.229 52.551 11.894 C 51.806 11.558 50.932 11.709 50.343 12.275 C 49.754 12.84 49.568 13.707 49.874 14.465 C 50.179 15.222 50.914 15.718 51.731 15.717 C 52.257 15.753 52.774 15.566 53.154 15.201 C 53.534 14.836 53.742 14.327 53.727 13.8 Z M 57.537 13.966 C 57.53 12.196 58.591 10.597 60.224 9.915 C 61.857 9.233 63.74 9.602 64.994 10.852 C 66.248 12.101 66.625 13.982 65.95 15.618 C 65.274 17.254 63.679 18.321 61.909 18.321 C 60.748 18.334 59.631 17.88 58.809 17.061 C 57.987 16.242 57.528 15.127 57.537 13.966 Z M 63.807 13.966 C 63.78 12.923 62.917 12.098 61.874 12.116 C 60.831 12.135 59.998 12.991 60.008 14.034 C 60.017 15.077 60.866 15.917 61.909 15.916 C 62.426 15.93 62.925 15.727 63.285 15.357 C 63.646 14.987 63.835 14.482 63.807 13.966 Z M 67.436 7.63 C 67.436 6.81 68.101 6.145 68.921 6.145 C 69.741 6.145 70.406 6.81 70.406 7.63 C 70.406 8.45 69.741 9.115 68.921 9.115 C 68.104 9.107 67.444 8.447 67.436 7.63 Z M 67.686 9.84 L 70.162 9.84 L 70.162 18.09 L 67.682 18.09 Z M 80.849 13.966 C 80.907 15.067 80.524 16.147 79.783 16.964 C 79.043 17.782 78.007 18.27 76.905 18.321 C 75.976 18.371 75.074 18.001 74.448 17.314 L 74.448 21.39 L 71.973 21.39 L 71.973 9.84 L 74.448 9.84 L 74.448 10.616 C 75.074 9.929 75.976 9.559 76.905 9.61 C 78.007 9.661 79.043 10.15 79.783 10.968 C 80.524 11.785 80.907 12.864 80.849 13.966 Z M 78.374 13.966 C 78.348 12.888 77.457 12.033 76.378 12.05 C 75.3 12.068 74.438 12.952 74.447 14.03 C 74.456 15.109 75.333 15.978 76.411 15.978 C 76.947 16.002 77.468 15.796 77.843 15.412 C 78.218 15.028 78.411 14.502 78.374 13.966 Z M 88.486 15.615 C 88.486 17.512 86.837 18.321 85.056 18.321 C 83.583 18.455 82.177 17.677 81.508 16.358 L 83.652 15.137 C 83.831 15.751 84.414 16.156 85.052 16.11 C 85.645 16.11 85.942 15.928 85.942 15.6 C 85.942 14.69 81.884 15.17 81.884 12.316 C 81.884 10.516 83.402 9.61 85.118 9.61 C 86.432 9.568 87.664 10.244 88.335 11.375 L 86.223 12.513 C 86.034 12.071 85.599 11.785 85.118 11.787 C 84.688 11.787 84.424 11.954 84.424 12.249 C 84.428 13.19 88.486 12.562 88.486 15.615 Z M 97.527 9.84 L 97.527 18.09 L 95.052 18.09 L 95.052 17.315 C 94.473 18.009 93.596 18.383 92.694 18.322 C 91.027 18.322 89.61 17.134 89.61 14.905 L 89.61 9.841 L 92.085 9.841 L 92.085 14.543 C 92.042 14.941 92.178 15.337 92.455 15.625 C 92.731 15.914 93.121 16.067 93.52 16.043 C 94.428 16.043 95.055 15.515 95.055 14.343 L 95.055 9.843 L 97.527 9.841 Z M 111.718 13.025 L 111.718 18.09 L 109.243 18.09 L 109.243 13.24 C 109.243 12.414 108.848 11.887 108.056 11.887 C 107.231 11.887 106.768 12.464 106.768 13.437 L 106.768 18.09 L 104.294 18.09 L 104.294 13.24 C 104.294 12.414 103.898 11.887 103.106 11.887 C 102.281 11.887 101.819 12.464 101.819 13.437 L 101.819 18.09 L 99.344 18.09 L 99.344 9.84 L 101.819 9.84 L 101.819 10.598 C 102.341 9.915 103.173 9.542 104.03 9.608 C 104.892 9.567 105.712 9.98 106.191 10.698 C 106.747 9.947 107.651 9.536 108.583 9.609 C 110.478 9.61 111.718 10.963 111.718 13.025 Z M 113.812 9.79 C 114.826 9.79 115.649 8.968 115.649 7.954 C 115.649 6.939 114.826 6.117 113.812 6.117 C 112.798 6.117 111.976 6.939 111.976 7.954 C 111.976 8.968 112.798 9.79 113.812 9.79 Z"
            fill="rgb(21, 21, 21)"></path></svg
        >
      </div>
      <div class="testimony">
        <Text element="cite" size="h3">
          “We couldn't be happier with the branding strategy developed.”
        </Text>
        <Text>
          Øliv transformed our brand with a thoughtful, strategic approach that
          exceeded our expectations. Their team truly understood our vision and
          created a branding strategy that perfectly aligns with our goals. The
          results have been incredible—our audience engagement has grown, and
          our brand identity feels stronger than ever. Highly recommended!
        </Text>
      </div>
    </article>
    <hr class="spacing-divider" style="margin-block: 5rem" />
    <article class="grid-3-2end-desktop grid-2-end-tablet">
      <div class="desktop-only"></div>
      <div class="logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="140"
          height="56"
          fill="none"
          ><path
            d="M 26.92 10.5 C 27.228 10.5 27.331 10.611 27.331 10.911 L 27.331 17.7 L 30.82 17.7 C 31.12 17.7 31.231 17.811 31.231 18.111 L 31.231 18.711 C 31.231 19.011 31.12 19.123 30.82 19.123 L 26.226 19.123 C 25.926 19.123 25.806 19.011 25.806 18.711 L 25.806 10.911 C 25.806 10.611 25.926 10.5 26.226 10.5 Z M 34.274 13.491 C 34.274 11.511 35.525 10.32 37.702 10.32 C 39.88 10.32 41.132 11.511 41.132 13.491 L 41.132 16.131 C 41.132 18.111 39.872 19.303 37.702 19.303 C 35.534 19.303 34.274 18.111 34.274 16.131 Z M 39.691 13.491 C 39.691 12.377 38.997 11.777 37.745 11.777 C 36.494 11.777 35.808 12.386 35.808 13.491 L 35.808 16.148 C 35.808 17.271 36.494 17.863 37.745 17.863 C 38.997 17.863 39.691 17.246 39.691 16.148 Z M 51.34 14.4 C 51.674 14.4 51.751 14.511 51.751 14.812 L 51.751 16.44 C 51.77 17.217 51.436 17.961 50.843 18.463 C 50.116 19.042 49.199 19.33 48.271 19.269 C 46.051 19.269 44.843 18.077 44.843 16.097 L 44.843 13.44 C 44.843 11.486 46.094 10.286 48.271 10.286 C 49.986 10.286 51.1 10.963 51.571 12.317 C 51.625 12.42 51.627 12.543 51.576 12.648 C 51.526 12.752 51.428 12.827 51.314 12.849 L 50.646 13.08 C 50.354 13.183 50.234 13.123 50.131 12.823 C 49.839 12.07 49.073 11.611 48.271 11.709 C 47.011 11.709 46.326 12.317 46.326 13.423 L 46.326 16.149 C 46.326 17.271 47.02 17.863 48.271 17.863 C 49.523 17.863 50.294 17.289 50.294 16.449 L 50.294 15.814 L 48.434 15.814 C 48.126 15.814 48.014 15.694 48.014 15.394 L 48.014 14.812 C 48.014 14.512 48.126 14.4 48.434 14.4 Z M 55.291 13.491 C 55.291 11.511 56.542 10.32 58.72 10.32 C 60.897 10.32 62.148 11.511 62.148 13.491 L 62.148 16.131 C 62.148 18.111 60.888 19.303 58.72 19.303 C 56.551 19.303 55.291 18.111 55.291 16.131 Z M 60.7 13.491 C 60.7 12.377 60.005 11.777 58.762 11.777 C 57.52 11.777 56.817 12.386 56.817 13.491 L 56.817 16.148 C 56.817 17.271 57.511 17.863 58.762 17.863 C 60.014 17.863 60.7 17.246 60.7 16.148 Z M 66.186 10.749 C 66.186 10.56 66.246 10.5 66.434 10.5 L 66.828 10.5 C 67.017 10.5 67.06 10.56 67.06 10.749 L 67.06 18.874 C 67.06 19.063 67.06 19.123 66.828 19.123 L 66.434 19.123 C 66.246 19.123 66.186 19.063 66.186 18.874 L 66.186 10.75 Z M 74.869 10.5 C 76.355 10.5 77.561 11.705 77.561 13.191 C 77.561 14.678 76.355 15.883 74.869 15.883 L 72.297 15.883 L 72.297 18.874 C 72.297 19.063 72.254 19.123 72.074 19.123 L 71.671 19.123 C 71.491 19.123 71.423 19.063 71.423 18.874 L 71.423 10.75 C 71.423 10.561 71.491 10.501 71.671 10.501 L 74.869 10.501 Z M 74.791 15.034 C 75.415 15.033 75.997 14.722 76.344 14.203 C 76.69 13.685 76.756 13.028 76.518 12.451 C 76.229 11.753 75.547 11.297 74.791 11.297 L 72.22 11.297 L 72.22 15.034 Z M 84.254 10.329 C 85.613 10.179 86.909 10.938 87.443 12.197 C 87.511 12.334 87.443 12.446 87.305 12.514 L 86.928 12.686 C 86.774 12.746 86.714 12.737 86.62 12.574 C 86.221 11.641 85.264 11.073 84.254 11.169 C 82.805 11.169 82.017 11.743 82.017 12.771 C 82 13.421 82.464 13.984 83.106 14.091 C 83.566 14.241 84.045 14.334 84.528 14.366 C 85.114 14.397 85.692 14.516 86.243 14.717 C 87.114 14.992 87.672 15.84 87.58 16.749 C 87.58 18.352 86.414 19.32 84.271 19.32 C 82.823 19.486 81.455 18.618 80.988 17.237 C 80.957 17.175 80.956 17.103 80.984 17.04 C 81.012 16.977 81.067 16.93 81.134 16.912 L 81.511 16.774 C 81.571 16.749 81.639 16.75 81.698 16.778 C 81.757 16.806 81.801 16.858 81.82 16.92 C 82.214 17.913 83.205 18.538 84.271 18.463 C 85.891 18.463 86.688 17.897 86.688 16.749 C 86.721 16.125 86.296 15.57 85.686 15.437 C 85.242 15.305 84.785 15.224 84.323 15.197 L 83.397 15.077 C 83.107 15.016 82.821 14.938 82.54 14.846 C 82.262 14.762 82.003 14.625 81.777 14.443 C 81.317 14.026 81.065 13.426 81.091 12.806 C 81.151 11.306 82.274 10.329 84.254 10.329 Z M 92.2 16.191 C 92.274 17.45 93.317 18.432 94.578 18.431 C 95.838 18.431 96.881 17.449 96.957 16.191 L 96.957 10.75 C 96.957 10.561 97.017 10.501 97.206 10.501 L 97.6 10.501 C 97.788 10.501 97.848 10.561 97.848 10.75 L 97.848 16.184 C 97.848 18.13 96.7 19.304 94.583 19.304 C 92.466 19.304 91.317 18.13 91.317 16.184 L 91.317 10.75 C 91.317 10.561 91.377 10.501 91.557 10.501 L 91.96 10.501 C 92.14 10.501 92.2 10.561 92.2 10.75 L 92.2 16.192 Z M 109.677 10.5 C 109.866 10.5 109.926 10.56 109.926 10.749 L 109.926 18.874 C 109.926 19.063 109.866 19.123 109.677 19.123 L 109.317 19.123 C 109.137 19.123 109.077 19.063 109.077 18.874 L 109.077 13.93 C 109.077 13.21 109.126 12.491 109.223 11.778 L 109.171 11.778 C 108.904 12.43 108.591 13.063 108.237 13.672 L 106.394 16.921 C 106.348 17.037 106.235 17.112 106.111 17.11 L 105.871 17.11 C 105.809 17.11 105.749 17.092 105.697 17.059 C 105.646 17.025 105.605 16.977 105.58 16.921 L 103.711 13.638 C 103.38 13.038 103.093 12.413 102.854 11.77 L 102.803 11.77 C 102.89 12.49 102.936 13.213 102.94 13.938 L 102.94 18.875 C 102.94 19.064 102.88 19.124 102.691 19.124 L 102.357 19.124 C 102.168 19.124 102.108 19.064 102.108 18.875 L 102.108 10.75 C 102.108 10.561 102.168 10.501 102.357 10.501 L 102.666 10.501 C 102.81 10.487 102.947 10.566 103.008 10.698 L 106.008 16.03 L 108.991 10.75 C 109.086 10.57 109.137 10.544 109.326 10.544 L 109.677 10.501 Z M 11.671 17.82 L 11.671 24.017 C 11.671 24.512 11.27 24.913 10.775 24.913 C 10.281 24.913 9.88 24.512 9.88 24.017 L 9.88 17.83 C 10.13 18.012 10.428 18.113 10.737 18.121 C 11.074 18.131 11.403 18.025 11.671 17.821 Z M 19.3 16.029 C 18.827 16.029 18.443 16.413 18.443 16.886 L 18.443 17.966 C 18.443 18.461 18.844 18.861 19.339 18.861 C 19.833 18.861 20.234 18.461 20.234 17.966 L 20.234 16.929 C 20.248 16.68 20.153 16.438 19.973 16.265 C 19.794 16.092 19.548 16.006 19.3 16.029 Z M 7.934 20.169 C 7.626 20.16 7.327 20.058 7.077 19.877 L 7.077 26.091 C 7.077 26.588 7.48 26.991 7.977 26.991 C 8.474 26.991 8.877 26.588 8.877 26.091 L 8.877 19.92 C 8.597 20.1 8.267 20.188 7.934 20.169 Z M 16.506 14.169 C 16.271 14.157 16.042 14.241 15.871 14.404 C 15.701 14.566 15.605 14.791 15.606 15.026 L 15.606 19.8 C 15.606 20.297 16.009 20.7 16.506 20.7 C 17.003 20.7 17.406 20.297 17.406 19.8 L 17.406 15.086 C 17.42 14.836 17.324 14.591 17.142 14.418 C 16.961 14.245 16.713 14.16 16.463 14.186 Z M 13.66 16.003 C 13.337 16.001 13.023 15.899 12.76 15.711 L 12.76 21.943 C 12.76 22.44 13.163 22.843 13.66 22.843 C 14.157 22.843 14.56 22.44 14.56 21.943 L 14.56 15.72 C 14.288 15.923 13.956 16.028 13.617 16.02 Z M 5.988 20.777 L 5.988 3.37 C 5.984 2.928 5.625 2.573 5.183 2.572 L 4.994 2.572 C 4.552 2.572 4.192 2.928 4.188 3.37 L 4.188 20.778 C 4.188 21.223 4.549 21.584 4.994 21.584 L 5.183 21.584 C 5.628 21.583 5.988 21.223 5.988 20.778 Z M 8.028 19.509 L 7.84 19.509 C 7.395 19.509 7.034 19.148 7.034 18.703 L 7.034 5.443 C 7.039 5.001 7.398 4.646 7.84 4.646 L 8.028 4.646 C 8.47 4.646 8.829 5.001 8.834 5.443 L 8.834 18.72 C 8.834 19.165 8.473 19.526 8.028 19.526 Z M 10.866 17.469 L 10.669 17.469 C 10.457 17.469 10.254 17.385 10.104 17.236 C 9.955 17.086 9.871 16.883 9.871 16.671 L 9.871 7.5 C 9.869 7.287 9.952 7.082 10.102 6.931 C 10.251 6.78 10.455 6.694 10.668 6.694 L 10.866 6.694 C 11.308 6.699 11.663 7.058 11.663 7.5 L 11.663 16.671 C 11.663 16.883 11.579 17.086 11.43 17.235 C 11.28 17.385 11.078 17.469 10.866 17.469 Z M 13.703 15.369 L 13.523 15.369 C 13.081 15.369 12.721 15.013 12.717 14.571 L 12.717 9.634 C 12.703 9.411 12.781 9.193 12.934 9.03 C 13.087 8.868 13.3 8.776 13.523 8.777 L 13.711 8.777 C 14.156 8.777 14.517 9.138 14.517 9.583 L 14.517 14.554 C 14.52 14.769 14.436 14.977 14.285 15.13 C 14.133 15.284 13.927 15.37 13.711 15.369 Z M 16.549 13.526 L 16.359 13.526 C 15.914 13.525 15.554 13.165 15.554 12.72 L 15.554 11.443 C 15.558 11.001 15.918 10.645 16.36 10.646 L 16.549 10.646 C 16.99 10.646 17.35 11.002 17.354 11.443 L 17.354 12.72 C 17.355 13.162 16.999 13.522 16.557 13.526 Z"
            fill="rgb(21, 21, 21)"></path></svg
        >
      </div>
      <div class="testimony">
        <Text element="cite" size="h3">
          “Øliv delivered a branding strategy that truly exceeded our
          expectations”
        </Text>
        <Text>
          They took the time to understand our vision, values, and goals,
          translating them into a cohesive and impactful brand identity. The
          entire process was seamless, and the results speak for themselves—our
          audience engagement has soared, and our brand feels stronger than
          ever. We couldn’t be happier with the outcome and are excited to
          continue building on this incredible foundation.
        </Text>
      </div>
    </article>
  </Container>
</section>
<section id="contact">
  <Container class="spacing-top">
    <Card variant="green" style="padding: 4rem">
      <div class="grid-2-2end-desktop">
        <div style="min-width: 25vw;">
          <Heading
            element="h2"
            size="meta"
            uppercase="true"
            style="margin-bottom:1rem"
          >
            Contact
          </Heading>
        </div>
        <div>
          <Heading
            element="h4"
            size="h1"
            style="margin: 0;line-height:1;max-width: 65ch;"
          >
            Let's start building your brand's unique story together.
          </Heading>
          <Text size="lg" style="max-width: 45ch;">
            Want to see what a difference a strong brand can make? Request a
            consultation today.
          </Text>
          <Button variant="primary">Get in touch</Button>
        </div>
      </div>
    </Card>
  </Container>
</section>
<section id="blog">
  <Container class="spacing-top">
    <Text element="h2" size="meta">BLOG</Text>
    <hr class="spacing-divider" />
    <Flex justify="between" align="center">
      <Heading element="h3" size="h2">Insights on Branding</Heading>
      <div>
        <Button>See All</Button>
      </div>
    </Flex>
    <div class="grid-4-desktop grid-2-tablet" style="margin-top:4rem">
      {
        blog
          .slice(0, 4)
          .map((w) => (
            <BrandingCard
              image={w["preview-image"]}
              title={w.title}
              linkUrl={`/blog/${w.slug}`}
            />
          ))
      }
    </div>
    <Container />
  </Container>
</section>

<MainFooter />
